body {
    background-image: url(../portfolio/images/jean-philippe-unsplash.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
    background-color: white;
    text-align: center;
}

#myPic {
    max-width: 30%;
    /* display: flex;
    justify-content: flex-start;  */
    float: left;
    margin: 0 15px 0 0;
    /* position: absolute; */
}

#home {
    text-align: left;
    color: green; 
    /* float: right; */
    display: inline;
    /* position: absolute; */
    /* top: 10%;
    left: 10%;
    margin-top: 10%;
    margin-left: 10%; */
    /* width: 30%; */
    margin: 10px;
    padding: 20px;
    /* border: 6px solid black; */
    /* height: 256px; */
}

/* div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#biography {
    display: none;
    border: 3px solid black;
    background-color: white;
}

.family-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.family-images {
	width: 60%;
	background: grey;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.family-images img {
	width: 50%;
    height: 600px;
	border-radius: 10px;
	display: none;
}

.family-images img:first-of-type {
	display: block;
}

.lnr {
    align-self: center;
    background: blue;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

.lnr:hover {
    cursor: pointer;
    background: white;
    box-shadow: 2px 2px blue;
    color: blue;
}

#bio:hover {
    color: blue;
}

#resume {
    display: none;
    border: 3px solid black;
    background-color: white;
}

#res:hover {
    color: blue
}

#projects {
    display: none;
    border: 3px solid black;
    background-color: white;
}

#proj:hover {
    color: blue
}

#links {
    color: blue;
}

#links:hover {
    color: black;
}