.body {
    background-image: url(../portfolio/images/jean-philippe-unsplash.jpg);
    font-family: 'Arvo', serif;
    color: black;
    font-size: 20px;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
    background-color: white;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.body2 {
    background-image: url(../portfolio/images/tobias-van-schneider-unsplash.jpg);
    font-family: 'Arvo', serif;
    color: white;
    font-size: 20px;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
    background-color: black;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 900px){
    .body {
        font-size: 14px;
    }
    .body2 {
        font-size: 14px;
    }
    #Wash {
        max-width:100px;
        max-height:100px;
        margin: 0 10px 0 0;
    }
    #Tex {
        max-width:100px;
        max-height:100px;
        margin: 0 10px 0 0;
    }
    #smallText {
        font-size: 12px;
    }
    #download {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px){
    .body {
        font-size: 10px;
    }
    .body2 {
        font-size: 10px;
    }
    #smallText {
        font-size: 9px;
    }
    #download {
        font-size: 9px;
    }
}

#myPic {
    max-width:500px;
    max-height:500px;
    min-width:250px;
    min-height:250px;
    border: 15px solid black;
    float: left;
    margin: 0 50px 0 0;
}

#home {
    font-size: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 20px;
}

#bio {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    margin: 30px auto;
}

#duty1 {
    display: none;
}

#job1:hover {
    color: blue;
    cursor: pointer;
}

#duty2 {
    display: none;
}

#job2:hover {
    color: blue;
    cursor: pointer;
}

#duty3 {
    display: none;
}

#job3:hover {
    color: blue;
    cursor: pointer;
}

#biography {
    display: none;
}

#bio:hover {
    color: blue;
    cursor: pointer;
    box-shadow: 5px 5px blue;
}

.family-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.family-images {
	min-width: 60%;
	background: grey;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.family-images img {
    max-width:828px;
    max-height:1792px;
    min-width:100px;
    min-height:216px;
	border-radius: 10px;
	display: none;
}

.family-images img:first-of-type {
	display: block;
}

.fa-solid {
    align-self: center;
    background: blue;
    color: white;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
}

.fa-solid:hover {
    cursor: pointer;
    background: white;
    box-shadow: 2px 2px blue;
    color: blue;
}

.fa-brands {
    color: black;
}

.fa-brands:hover {
    color: blue;
}

.tog:hover {
    cursor: pointer;
    box-shadow: 5px 5px blue;
}

#resume {
    display: none;
    max-width: 80%;
    margin: 20px auto;
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#download {
    text-align: center;
    justify-content: center;
    font-size: 20px
}

#download:hover {
    color: blue;
}

#res {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    margin: 30px auto;
}

#res:hover {
    color: blue;
    cursor: pointer;
    box-shadow: 5px 5px blue;
}

#proj:hover{
    color: blue
}

#projects {
    display: none;
    text-align: center;
    margin: 30px auto;
}

#proj {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    margin: 0 auto;
}

#proj:hover {
    color: blue;
    cursor: pointer;
    box-shadow: 5px 5px blue;
}

#list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#list:hover {
    color: blue;
    cursor: pointer;
}

.email {
    display: inline;
}

#text {
    margin: 50px 50px;
}

.fa-solid .fa-envelope {
    display: inline;
}

.button1 {
    display: flex;
}

.tog {
    margin: 50px 50px;
}

.footer {
    display: block;
}
