.body {
    background-image: url(../portfolio/images/jean-philippe-unsplash.jpg);
    font-family: 'Arvo', serif;
    color: black;
    font-size: 20px;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
    background-color: white;
    text-align: center;
}

.body2 {
    background-image: url(../portfolio/images/tobias-van-schneider-unsplash.jpg);
    font-family: 'Arvo', serif;
    color: white;
    font-size: 20px;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
    background-color: black;
    text-align: center;
}

#myPic {
    /* width: 30%; */
    /* display: flex;
    justify-content: flex-start;  */
    max-width:400px;
    max-height:400px;
    min-width:100px;
    min-height:100px;
    border: 3px solid black;
    float: left;
    margin: 0 30px 0 0;
    /* position: absolute; */
}

#home {
    text-align: left;
    /* color: green;  */
    /* float: right; */
    display: inline-flex;
    flex-wrap: nowrap;
    /* position: absolute; */
    /* top: 10%;
    left: 10%;
    margin-top: 10%;
    margin-left: 10%; */
    /* width: 30%; */
    margin: 10px;
    padding: 20px;
    /* border: 1px solid black; */
    /* height: 256px; */
}

/* div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#bio {
    /* float: absolute; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#biography {
    display: none;
    border: 3px solid black;
    /* background-color: white; */
}

.family-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.family-images {
	min-width: 60%;
	background: grey;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.family-images img {
    max-width:828px;
    max-height:1792px;
    min-width:100px;
    min-height:216px;
	border-radius: 10px;
	display: none;
}

.family-images img:first-of-type {
	display: block;
}

.fa-solid {
    align-self: center;
    background: blue;
    color: white;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
}

.fa-solid:hover {
    cursor: pointer;
    background: white;
    box-shadow: 2px 2px blue;
    color: blue;
}

.fa-brands {
    /* cursor: pointer;
    background: white;
    box-shadow: 2px 2px blue; */
    /* display: inline; */
    color: black;
}

.fa-brands:hover {
    /* cursor: pointer;
    background: white;
    box-shadow: 2px 2px blue; */
    color: blue;
}

#bio:hover {
    color: blue;
}

.tog:hover {
    cursor: pointer;
    box-shadow: 20px 20px hsl(231, 99%, 49%);
}

#resume {
    display: none;
    border: 3px solid black;
    /* background-color: white; */
}

#res:hover {
    color: blue
}

#projects {
    display: none;
    border: 3px solid black;
    /* background-color: white; */
}

#proj:hover {
    color: blue
}

/* .links {
    display: inline;
    border: 3px solid black;
} */

.email {
    display: inline;
}

.fa-solid .fa-envelope {
    display: inline;
}

.button1 {
    display: flex;
    /* flex-wrap: nowrap; */
}

.footer {
    display: inline;
    /* flex-wrap: nowrap; */
}

/* 
#links:hover {
    color: white;
} */